<div id="sidemenu">
  <a href="/"><img id="sidemenu-profile-image" src="{{asset "static/img/icon.png"}}"/></a>
  <div id="sidemenu-container" class="">
    <div class="sidemenu-top">
      <a class="sidemenu-top-name sidemenu-btn-link" href="/">Ryan Liang</a>
    </div>
    <div class="sidemenu-menu">
      <ul class="nodot">
        <li>
          <div class="sidemenu-btn">
            <a class="sidemenu-btn-link" href="/">
              <i class="fa fa-home"></i>
              <span class="sidemenu-btn-name"> Home</span>
            </a>
          </div>
        </li>
          <!--
          <div class="sidemenu-btn">
            <a class="sidemenu-btn-link">
              <i class="fa fa-archive"></i>
              <span style="padding-left: 8px;" class="sidemenu-btn-name">Archive</span>
            </a>
          </div>
        -->
      <li>
      <div class="sidemenu-separator">

      </div>
      </li>
      <li>
          <div class="sidemenu-btn">
            <a class="sidemenu-btn-link" href="/about">
              <i style="padding-left: 5px;" class="fa fa-info"></i>
              <span style="padding-left: 13px;" class="sidemenu-btn-name">About</span>
            </a>
          </div>
      </li>
      </ul>
    </div>
  </div>

</div>
<div id="sidemenu-backdrop"></div>