{{!< default}}
{{> sidebar}}
<div id="error">
  <div class="error-container">
    <h1 class="error-code">404</h1>
    <h3 class="error-message">I don't know what you are talking about.</h3>
  </div>

</div>
