{{!< default}}
{{!-- index-articles == ias --}}
<div id="sidebar" class="with-animation">
  <div class="sidebar-container card">
    <ul class="sidebar-profile">
      <img src="{{asset "static/img/icon.png"}}" class="sidebar-profile-image"></img>
      <span class="sidebar-profile-title">Ryan Liang</span>
    </ul>
    <div class="sidebar-separator"></div>
    <ul class="sidebar-btns nodot">
      <li class="sidebar-btn">
        <a class="sidebar-btn-link" id="sidebar-btn-link-home" href='/'>
          <i class="fa fa-home sidebar-btn-link-icon"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="sidebar-btn">
        <a class="sidebar-btn-link" id="sidebar-btn-link-about" href="/about">
          <i class="fa fa-info sidebar-btn-link-icon"></i>
          <span>About</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div id="ias-wrapper" class="card">
  <div class="ias-container">
    {{> "loop"}}
  </div>
</div>