{{!< default}}
{{#post}}
{{> sidebar}}
<div id="about-wrapper">
  <div class="about-container">
    <div class="about-profile">
      <p class="about-profile-name">RYAN LIANG</p>
      <p class="about-profile-description">
        Homo spiens are stupid, so am I.
      </p>
    </div>
  </div>

</div>

{{/post}}
