{{!< default}}

<div id="ias-wrapper" class="card">
  {{#tag}}
  <div class="tag-header">
    <h3 class="tag-header-tag">Tag</h3>
    <div class="separator tag-header-separator"></div>
    <h1 class="tag-header-name">{{name}}</h1>
  </div>
  {{/tag}}
  <div class="ias-container">
    {{> "loop"}}
  </div>

</div>
