#ias-wrapper{
  float: right;
  width: calc(100% - 370px);
  margin: 30px 40px;
  min-height: calc(100% - 60px);

  div.ias-container{
    max-width: 1600px;
    margin: 50px auto 0px auto;
    padding: 0px 80px;
  }

  a.ia-header-link{
    font-size: 56px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.84);
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: "Playfair Display", Georgia, Cambria, "Times New Roman", Times, serif;
  }

  a.ia-header-link:hover{
    color: #349ef3;
  }

  article.ia{
    margin-bottom: 100px;
  }

  section.ia-content{
    font-size: 20px;
    line-height: 1.8;
  }

  div.ia-content-container{
    width: calc(100% - 180px);
    margin-right: 0px;
    font-family: "Charter", Georgia, Cambria, "Times New Roman", Times, serif;
  }

  div.ia-content-container p{
    color: rgba(0, 0, 0, 0.84);
  }

  div.ia-content-widget-container{
    text-align: center;
    margin: auto 0px;
    float: right;
  }

  div.ia-content-widget-separator{
    border-top: 1px solid rgb(218, 223, 225);
    margin: 10px;
  }

  time.ia-date{
    color: rgb(133, 133, 133);
    font-size: 14px;
  }

  div.ia-separator{
    width: 400px;
    margin: 80px auto 0px auto;
  }

  div.tag-header{
    background-color: grey;
    text-align: center;
  }

  .tag-header-tag{
    margin: 0px;
    color: white;
    padding: 15px 0px 10px 0px;
  }

  div.tag-header-separator{
    margin: 0px auto;
    width: 50px;
  }

  h1.tag-header-name{
    padding: 10px 0px 15px 0px;
    margin: 0px;
    color: white;
  }

  a.tags-tag{
    margin: 5px;
    padding: 5px;
    border: 1px solid #349ef3;
    border-radius: 5px;
  }
}
