@import "./mixins/breakpoints.scss";

#ias-wrapper{
  .ia-header {
    margin-bottom: 30px;
  }
  .separator {
    padding-bottom: 0px;
  }

  ol, ul {
    margin-left: 40px;
  }

  footer {
    margin-top: 30px;
  }
}

@include media-breakpoint-down(xl) {
  #ias{
    float: right;
    width: calc(100% - 370px);
    margin: 30px 40px;
    min-height: calc(100% - 60px);
  }

  #ias-wrapper{
    float: right;

    article[lang="cn"] {
      a.ia-header-link{
        font-size: 40px;
         font-family: "Charter", "Songti SC", sans-serif; // Chinese font, a joke on web
      }

      section.ia-content{
        font-size: 18px;
        text-shadow: 0 0 1px rgba(152, 152, 152, 0.1);
      }

      div.ia-content-container{
         font-family: "Charter", "Songti SC", sans-serif; // Chinese font, a joke on web
      }
    }

    div.ias-container{
      max-width: 1600px;
      margin: 50px auto 0px auto;
      padding: 0px 7%;
    }

    a.ia-header-link{
      font-size: 56px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.84);
      text-decoration: none;
      letter-spacing: 0.5px;
      font-family: "Playfair Display", Georgia, Cambria, "Times New Roman", Times, serif;
    }

    a.ia-header-link:hover{
      color: #349ef3;
    }

    section.ia-content{
      font-size: 20px;
      line-height: 1.8;
    }

    div.ia-content-container{
      width: calc(100% - 100px - 7%); // -7% for adaptive
      margin-right: 0px;
      font-family: "Charter", Georgia, Cambria, "Times New Roman", Times, serif;
    }

    div.ia-content-container p{
      color: rgba(0, 0, 0, 0.84);
      margin-bottom: 13px;
    }

    div.ia-content-widget-container{
      text-align: center;
      margin: auto 0px;
      float: right;

      ul {
        margin-left: 0px;

        li {
          padding-left: 0px;
        }
      }
    }

    div.ia-content-widget-separator{
      border-top: 1px solid rgb(218, 223, 225);
      margin: 10px;
    }

    time.ia-date{
      color: rgb(133, 133, 133);
      font-size: 14px;
    }

    div.ia-separator{
      width: 400px;
      margin: 80px auto 0px auto;
    }

    div.tag-header{
      background-color: grey;
      text-align: center;
    }

    .tag-header-tag{
      margin: 0px;
      color: white;
      padding: 15px 0px 10px 0px;
    }

    div.tag-header-separator{
      margin: 0px auto;
      width: 50px;
    }

    h1.tag-header-name{
      padding: 10px 0px 15px 0px;
      margin: 0px;
      color: white;
    }

    a.tags-tag{
      margin: 5px;
      padding: 5px;
      border: 1px solid #349ef3;
      border-radius: 5px;
    }

    .ia-content-widget-simple {
      display: none;
    }
  }

  .ias-copyright {
    display: table;
    padding: 20px 0 0 0;
    color: #828282;
    margin: auto;
    font-size: 12px;
  }

  // second line no padding
  .ias-copyright+.ias-copyright{
    padding: 5px 0 0 0;
  }
}

@include media-breakpoint-down(lg) {
  #ias{
    float: right;
    width: calc(100% - 300px);
    margin: 15px 20px;
    min-height: calc(100% - 30px);
  }

  #ias-wrapper{

    h1,h2,h3,h4,h5,h6 {
      margin-top: 30px;
    }

    div.ias-container{
      padding: 0px 5%;
      margin: 0;
    }

    a.ia-header-link{
      font-size: 50px;
    }

    section.ia-content{
      font-size: 17px;
    }

    div.ia-content-container{
      width: 100%;
    }

    div.ia-content-widget-container{
      display: none;
    }

    .ia-content-widget-simple {
      display: inline;
      color: #858585;

      .tag {
        border: 0px;
        padding: 0px 0px;
        margin: 0px;
        color: inherit;
      }

      .tag:hover{
        background-color: initial;
        color: #535353;
      }
      
      .tag:active{
        background-color: initial;
        color: #535353;
      }
    }

    .ia-read-more {
      float: right;
    }
  }
}

// inherit most style since many can be reused
@include media-breakpoint-down(md) {
  #ias{
    float: none;
    width: initial;
    margin: 10px 8px;
    min-height: calc(100% - 100px);
  }

  #ias-wrapper{
    float: none;

    div.ias-container{
      padding: 10px 5% 0px 5%;
    }

    div.ia-separator{
      width: 100%;
    }
  }
  .ias-copyright {
    padding-top: 15px;
  }
}

@include media-breakpoint-down(sm) {
  #ias-wrapper{

    div.ias-container{
      padding: 5px 20px 0px 20px;
    }
  }
}

@include media-breakpoint-down(xs) {
  #ias-wrapper{
    .ia-read-more {
      display: block;
      margin-top: 15px;
      float: none;
    }
  }
}