#post-wrapper{
  min-height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
}

#post-wrapper div.post-container{
  max-width: 70%;
  margin: 0px auto 120px auto;
}

#post-wrapper h1.post-title{
  font-size: 50px;
  text-align: center;
}

#post-wrapper h5.post-date{
  text-align: center;
  margin-top: -10px;
  color: rgb(180, 180, 180);
}

#post-wrapper section.post-content{
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.5;
}

#post-wrapper section.post-content p{
  color: rgb(100, 100, 100);
  margin: 0px 0px 15px 0px;
}

#post-wrapper section.post-content blockquote{
  margin: 0px 0px 0px -20px;
  padding: 5px 0px 5px 20px;
  border-left: 6px solid black;
}

#post-wrapper section.post-content blockquote p{
  margin: 0px;
  color: black;
  font-style: italic;
  font-family: Merriweather, serif;
}