#post-wrapper{
  ol, ul {
    margin-left: 40px;
  }
}

@include media-breakpoint-only(xl) {
  #post-wrapper{
    min-height: 100%;
    width: 100%;
    background-color: white;

    h1,h2,h3,h4,h5,h6 {
      color: rgba(0, 0, 0, 0.8);
    }

    div.post-container{
      padding-top: 50px;
      width: 50%;
      max-width: 900px;
      margin: 0px auto;
    }

    h1.post-title{
      font-size: 60px;
      margin-top: 0px;
      text-align: center;
    }

    h5.post-date{
      text-align: center;
      color: rgb(130, 130, 130);
    }

    section.post-content{
      font-size: 20px;
      line-height: 1.5;
    }

    section.post-content p{
      color: rgba(0, 0, 0, 0.8);
      margin: 0px 0px 15px 0px;
    }
  }
}


@include media-breakpoint-only(lg) {
  #post-wrapper{
    min-height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;

    h1,h2,h3,h4,h5,h6 {
      color: rgba(0, 0, 0, 0.8);
    }

    div.post-container{
      max-width: 70%;
      margin: 0px auto 120px auto;
    }

    h1.post-title{
      font-size: 60px;
      text-align: center;
    }

    h5.post-date{
      text-align: center;
      margin-top: -10px;
      color: rgb(130, 130, 130);
    }

    section.post-content{
      font-size: 20px;
      line-height: 1.5;
    }

    section.post-content p{
      color: rgba(0, 0, 0, 0.8);
      margin: 0px 0px 15px 0px;
    }
  }
}