@font-face {
    font-family: 'Charter';
    src: url('fonts/charter/charter-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('fonts/charter/charter-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter';
    src: url('fonts/charter/charter-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Chater';
    src: url('fonts/charter/charter-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
