@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair/PlayfairDisplay-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair/PlayfairDisplay-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair/PlayfairDisplay-BlockItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair/PlayfairDisplay-Black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair/PlayfairDisplay-BlackItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
