@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/opensans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/opensans-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}